# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo

# Project Specific
/node_modules
/packages/*/node_modules
/packages/legacy-structure/commands/*/node_modules
*.log
/lib
tmp
.changelog
coverage/
.nyc_output/
.eslintcache
.env

dist

website/build
website/.docusaurus
website/.cache-loader

.nx/cache