# just in case a private registry is configured in ~/.npmrc
registry = https://registry.npmjs.org/

# TODO: remove this once esbuild 0.17 is officially supported in @nx/esbuild
legacy-peer-deps = true

# Delay newly published dependencies so there is time for compromised releases to be detected and removed.
min-release-age = 7

# Only install dependencies from the configured registry, not Git repositories or arbitrary URLs.
allow-git = none
allow-remote = none
