# just in case a private registry is configured in ~/.npmrc
registry = https://registry.npmjs.org/

# TODO: remove this once esbuild 0.17 is officially supported in @nrwl/esbuild
legacy-peer-deps = true
