.video {
  box-shadow: 0 2px 6px var(--ifm-background-surface-color-dark);
  border-radius: 0.375rem;
}

.description {
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}
